extends base

block content
  section#showcase
    .overlay
      .container
        .showcase-text.text-white
          h3.pt-5 Man's Best Friend Finder
          p find your quintessential companion.

  nav#filter-search-bar.navbar.sticky-top.navbar-expand-md
    button.navbar-toggler.btn.btn-block(type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation")
      i.fas.fa-layer-group.fa-2x

    .collapse.navbar-collapse#navbarSupportedContent
      ul.navbar-nav.mx-auto
        li.nav-item
          a.home-link.nav-link(href="/") All Pets
        li.nav-item.dropdown
          a.nav-link.dropdown-toggle(href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") Species
          .dropdown-menu(aria-labelledby="navbarDropdown")
            a.btn-dog.dropdown-item(href=`?species=dog`) Dogs
            a.btn-cat.dropdown-item(href="?species=cat") Cats

        li.nav-item.dropdown
          a.nav-link.dropdown-toggle(href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") Sex
          .dropdown-menu(aria-labelledby="navbarDropdown")
            a.btn-male.dropdown-item(href="?sex=male") Male
            a.btn-female.dropdown-item(href="?sex=female") Female

        li.nav-item.dropdown
          a.nav-link.dropdown-toggle(href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") Fixed
          .dropdown-menu(aria-labelledby="navbarDropdown")
            a.btn-fixed.dropdown-item(href="?fixed=true") Fixed
            a.btn-not-fixed.dropdown-item(href="?fixed=false") Not Yet Fixed

        li.nav-item.dropdown
          a.nav-link.dropdown-toggle(href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") Adopted
          .dropdown-menu(aria-labelledby="navbarDropdown")
            a.btn-not-adopted.dropdown-item(href="?adopted=false") Available
            a.btn-adopted.dropdown-item(href="?adopted=true") Recently Adopted

  section#cards-overview
    .container
      .row#row
        each pet in pets
          -const index = pets.indexOf(pet);

          .col-lg-4.col-6
            .card.pt-3.mb-5
              .text-center
                a(data-toggle="modal" data-target=`#pet${index}modal`)
                  img(src=`/img/pets/${pet.photo}` id="pet-photo" class="card-img-top rounded-circle" alt="PHOTO")
                  -if(pet.adopted === true)
                    a.adopted(href=`/shelter/${pet.shelter.slug}`)
                      h3.adopted-text
              a(data-toggle="modal" data-target=`#pet${index}modal`)
                .card-body
                  h4.card-title.name.pb-2= pet.name

                  -pet.age >= 1 ? ageIntro = `${pet.age} year old ${pet.species}` : ageIntro = pet.age

                  h5.card-subtitle.pet-age.pb-2= ageIntro

                  h5.card-subtitle=pet.sex

                  hr

                  p.pet-description Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae culpa nobis, nisi illo modi iste?


              .card-footer.text-white
                p Available for adoption at...
                a.btn.btn-outline-light.shelter-link(href=`/shelter/${pet.shelter.slug}`)=pet.shelter.name


            .modal.fade(id=`pet${index}modal`)
              .modal-dialog.modal-dialog-centered.modal-lg
                .modal-content 
                  .modal-body.text-center.p-0
                    button.close(data-dismiss="modal" style="font-size: 3rem") &times;
                    img#modal-img(src=`/img/pets/${pet.photo}`)
                    .row
                      .col.mt-2.mb-2.modal-pet-details.text-left
                        span
                          -pet.species=== 'dog' ? icon = 'fa-dog' :icon = 'fa-cat'

                          h2.modal-title=pets[index].name
                          br
                          h4.breed=pet.breed

                    a(href=`/shelter/${pet.shelter.slug}`) 
                      p.contact-btn.mt-3 Click here for contact information.


      

